<div class="container footer lined-middle-gray text-center">
  <div class="row">
    <div class="col-md-2 col-xs-12 footer-copyright"> 
        <h4>Contact via:</h4> 
    </div>
    <div class="col-md-1 col-xs-12 footer-copyright">
       <%= link_to "mailto:adrien@lawfortech.io" do %>
         <%= image_tag "contactemail.png", size: "50",class: "img-rounded" %>
       <% end %>   
    </div>
    <div class="col-md-1 col-xs-12 footer-copyright">
       <%= link_to "https://www.linkedin.com/in/adrienvandenbranden/", target: "_blank" do %>
         <%= image_tag "linkedinbtn.png", size: "50",class: "img-rounded" %>
       <% end %>   
    </div>
    <div class="col-md-1 col-xs-12 text footer-copyright">
       <%= link_to "https://github.com/avdbranden", target: "_blank" do %>
         <%= image_tag "github.png", size: "50",class: "img-rounded" %>
       <% end %>  
    </div>
    <div class="col-md-1 col-xs-12 footer-copyright">
      <%= link_to "https://www.meetup.com/members/190649489/", target: "_blank" do %>
        <%= image_tag "meetup.png", size: "50",class: "img-rounded" %>
      <% end %> 
    </div>
    <div class="col-md-1 col-xs-12 footer-copyright">
       <%= link_to "https://medium.com/@avdbranden", target: "_blank" do %>
         <%= image_tag "medium.png", size: "50",class: "img-rounded" %>
       <% end %> 
    </div>
    <div class="col-md-3 col-xs-12 footer-copyright"> 
        <h4>Law For Tech</h4> 
    </div>
    <div class="col-md-2 col-xs-12 footer-copyright"> 
        <h4>© <%= Date.today.year %></h4> 
    </div>
  </div>
</div>