<!-- Main banner-->

<div class="main-banner">
  <div class="banner-content text-center">
    <h1>Law For Tech</h1>
    <h2>Solving legal for tech businesses</h2>
   	<%= link_to "HIRE ME", "https://avdbranden.typeform.com/to/B50TIV", target: "_blank", class: "btn btn-primary btn-lg frame-btn" %>
  </div> <!-- .row -->
</div> <!-- .container -->

<!-- Presentation -->

<div class="container text-center nutshell">
	<div class="row">
		<h1>Adrien in a nutschel</h1>
  </div> <!-- .row -->
</div> <!-- .container -->

<div class="container presentation">
  <div class="row">
    <div class="col-md-offset-1 col-md-3 col-xs-12">
      <div class="volet-picture">
        <%= image_tag "adrien.jpg", class: "img-responsive img-adrien" %>
      </div>
    </div>
    <div class="col-md-7 col-xs-12">
      <div class="adrien-bio">
        <p>Hello world!</p>
        <p>If you are a tech professional, I would be happy cracking down on your legal woes. <b>My mission it to take legal out of your way</b> so you can focus on what matters most to you : growing your business.</p>
        <p>In a nutshell, I read the law at the University of Louvain (both at the French-speaking and Dutch-speaking part) and at the University of Cambridge (where I obtained a post-grad in commercial law).</p>
        <p>I earned my stripes as a business lawyer in international law firms <%= link_to "Linklaters", "https://www.linklaters.com/en", target: "_blank"%> and <%= link_to "CMS", "https://cms.law/en/INT/", target: "_blank"%>, mainly dealing with intellectual property and data protection matters. Most and foremost, I learned coding at <%= link_to "Le Wagon", "https://www.lewagon.com/", target: "_blank"%> school, which makes me a kind of a rare breed in the legal sector. <b>I crafted this website myself</b> using Ruby as main programming language (with the help of the Rails framework). You can see (and contribue to) the source code on this GitHub public <%= link_to "repository", "https://github.com/avdbranden/lawfortech", target: "_blank"%>.</p>
        <p>What's more? I am a CIPP/E certified privacy professional and lawyer recommended by the Legal500 directory in the Telecoms & IT sector</p>
        </div>
    </div>
  </div> <!-- .row -->
 </div> <!-- .container -->

 <div class="container lined-middle-gray lined-middle-gray-1"></div> 

 <div class="container text-center">
 	<div class="row">
 		<div class="col-xs-12">
 			<h2 class="integrate">I integrate seamlessly into your favourite apps!</h2>
 		</div>
  </div> <!-- .row -->
 </div><!-- .container -->

<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-1 col-xs-6">
      <div class="int">
        <div class="int-title">
          <p>GMail</p>
        </div>
        <div class="int-logo">
          <%= image_tag "gmail.png", class: "img-responsive" %>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xs-6">
      <div class="int">
        <div class="int-title">
          <p>GDrive</p>
        </div>
        <div class="int-logo">
          <%= image_tag "gdrive.png", class: "img-responsive" %>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xs-6">
      <div class="int">
        <div class="int-title">
          <p>Trello</p>
        </div>
        <div class="int-logo">
          <%= image_tag "trello.png", class: "img-responsive" %>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xs-6">
      <div class="int">
        <div class="int-title">
          <p>Github</p>
        </div>
        <div class="int-logo">
          <%= image_tag "github.png", class: "img-responsive" %>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xs-6">
      <div class="int">
        <div class="int-title">
          <p>Dropbox</p>
        </div>
        <div class="int-logo">
          <%= image_tag "dropbox.png", class: "img-responsive" %>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xs-6">
      <div class="int">
        <div class="int-title">
          <p>Slack</p>
        </div>
        <div class="int-logo">
          <%= image_tag "slack.png", class: "img-responsive" %>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xs-6">
      <div class="int">
        <div class="int-title">
          <p>Calendar</p>
        </div>
        <div class="int-logo">
          <%= image_tag "googlecalendar.png", class: "img-responsive" %>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xs-6">
      <div class="int">
        <div class="int-title">
          <p>Evernote</p>
        </div>
        <div class="int-logo">
          <%= image_tag "evernote.png", class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div> <!-- .row -->
 </div> <!-- .container -->

<div class="background-stuff">
	 <div class="container">
		<div class="row">
			<h1 class="stuff text-center">Stuff I can help your business with</h1>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-10 col-xs-12">
			    <p>
			      I can assist your business in navigating the <b>European and Belgian legal landscape</b> in matters such as data protection, information security, intellectual property and general commercial stuff.
			  	</p>
			  	<p>
			      If you're looking for examples of what I've done, please spare a sight for the list below:
			 	</p>
			 		<ul>
			 			<li>Assisting a global car manufacturer in the launch of their <b>connected cars</b> throughout Europe</li>
			 			<li>Implementing the <b>General Data Protection Regulation</b> (GDPR) for 30+ companies of all shapes and sizes in Belgium and Europe (including drafting privacy notices, records of processing activities, data processing addenda, data transfers agreements, data protection impact assessments, privacy by design schemes, etc.)</li>
			 			<li>Assessing the severity of countless <b>personal data breaches</b> and notifying them to the competent data protection authorities and/or the affected data subjects</li>
			 			<li>Preparing the <b>information security policies</b> in view of obtaining ISO/IEC 27001:2013 certification of a media company</li>
			 			<li>Drafting <b>complex licensing agreements</b> involving open source software and licensing exceptions.</li>
	  				</ul>
	    		</p>  
	    	</div>
  </div> <!-- .row -->
 </div> <!-- .container -->
</div> <!-- .background-stuff -->

<div class="secondary-banner">
  <div class="banner-content text-center">
    <h1>Want legal solved at your business?</h1>
    <p>Drop me a line at <b>adrien@lawfortech.io</b></p>
    <p>Or if you prefer specifying your needs, click on the "hire me" form below.</p>
    <div class="btn-hire-me"><%= link_to "HIRE ME", "https://avdbranden.typeform.com/to/B50TIV", target: "_blank", class: "btn btn-primary btn-lg frame-btn" %></div>
  </div>
</div>




