<!-- Main banner-->

<div class="main-banner">
  <div class="banner-content text-center">
    <h1>Solving legal for tech businesses</h1>
   	<%= link_to "Hire me", "#", target: "_blank", class: "btn btn-primary btn-lg frame-btn" %>
  </div>
</div>

<!-- Presentation -->

<div class="container text-center">
	<div class="row">
		<h1>Adrien in a Nutschel</h1>
	</div>
</div>

<div class="container lined-middle-gray"></div> 

<div class="container presentation">
  <div class="row volet-picture">
    <div class="col-md-offset-1 col-md-3 col-xs-12">
      <%= image_tag "adrien.jpg", class: "img-responsive img-thumbnail volet-img" %>
    </div>
    <div class="col-md-offset-1 col-md-6 col-xs-12">
      <p>Hello world!<br>My name is Adrien.<br>If you are a tech professional, I would be happy cracking down on your legal woes. My mission it to take legal out of your way so you can focus on what matters most to you : growing your business.<br>In a nutshell, I read the law at the University of Louvain (both at the French-speaking and Dutch-speaking part) and at the University of Cambridge (where I obtained a post-grad called the LL.M.).<br>I earned my stripes as a business lawyer in international law firms Linklaters and CMS, mainly dealing with intellectual property and data protection matters. Most and foremost, I learned coding at Le Wagon school, which makes me a kind of a rare breed in the legal sector. I crafted this website myself using Ruby as main programming language (with the help of the Rails framework). You can see (and contribue to) the source code on this GitHub public repository.</p>
    </div>
  </div> <!-- .row -->
 </div>

<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-1 col-xs-6">
      <div class="int">
        <div class="int-title">
          <p>GMail</p>
        </div>
        <div class="int-logo">
          <%= image_tag "gmail.png", class: "img-responsive" %>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xs-6">
      <div class="int">
        <div class="int-title">
          <p>GDrive</p>
        </div>
        <div class="int-logo">
          <%= image_tag "googledrive.png", class: "img-responsive" %>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xs-6">
      <div class="int">
        <div class="int-title">
          <p>Trello</p>
        </div>
        <div class="int-logo">
          <%= image_tag "trello.jpg", class: "img-responsive" %>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xs-6">
      <div class="int">
        <div class="int-title">
          <p>Github</p>
        </div>
        <div class="int-logo">
          <%= image_tag "github.jpg", class: "img-responsive" %>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xs-6">
      <div class="int">
        <div class="int-title">
          <p>Jira</p>
        </div>
        <div class="int-logo">
          <%= image_tag "atlassian.jpg", class: "img-responsive" %>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xs-6">
      <div class="int">
        <div class="int-title">
          <p>Slack</p>
        </div>
        <div class="int-logo">
          <%= image_tag "slack.png", class: "img-responsive" %>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xs-6">
      <div class="int">
        <div class="int-title">
          <p>GCalendar</p>
        </div>
        <div class="int-logo">
          <%= image_tag "googlecalendar.jpg", class: "img-responsive" %>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xs-6">
      <div class="int">
        <div class="int-title">
          <p>Evernote</p>
        </div>
        <div class="int-logo">
          <%= image_tag "evernote.jpg", class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="container text-center">
	<div class="row">
		<h1>Scope of Work</h1>
	</div>
</div>

<div class="container lined-middle-gray"></div> 

<div class="container">
	<div class="row">
		<div class="col-md-offset col-md-10 col-xs-12">
    <p>
      I can assist your business in navigating the EU and Belgian legal landscape in matters such as data protection, information security, intellectual property and general commercial stuff.
      If you're looking for examples of what I've done, please spare a sight for the list below:
      * Assisting a global car manufacturer in the launch of their connected cars throughout Europe;
      * Implementing the General Data Protection Regulation (GDPR) for 30+ companies of all shapes and sizes in Belgium and Europe (including drafting privacy notices, records of processing activities, data processing addenda, data transfers agreements, data protection impact assessments, privacy by design schemes, etc.);
      * Assessing the severity of countless personal data breaches and notifying them to the competent data protection authorities and/or the affected data subjects;
      * Preparing the information security policies in view of obtaining ISO:IEC 27001/2013 certification of a media company;
      * Drafting complex licensing agreements involving open source software and licensing exceptions.
    </p>  
    </div>
	</div>
</div>

